<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments List</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/adminAppointment.css">
</head>
<body>
    <div class="hidden-message">
      <div class="btn-borderless" onclick="document.location.href = '/admin/dashboard'">
        <i class='bx bx-arrow-back'></i>
          BACK
        </div>
      You can only access this on pc.</div>
    <div class="content-wrapper">
      <div class="control-view">
        <div class="btn-borderless" onclick="document.location.href = '/admin/dashboard'">
          <i class='bx bx-arrow-back'></i>
            BACK
          </div>
      </div>
      <div class="flex-container">
        <h2 class="heading">Appointment Records</h2>
          <table>
              <thead>
                  <tr>
                      <th>School Code</th>
                      <th>Appointment ID</th>
                      <th>Date</th>
                      <th>Purpose</th>
                      <th>Status</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <% for (const appointment of appointmentData) { %>
                      <tr>
                          <td class="appointment-column"><%= appointment.SchoolCode %></td>
                          <td class="appointment-column"><%= appointment.AppointmentID %></td>
                          <!-- Format the date using toLocaleDateString -->
                          <td class="date-column"><%= new Date(appointment.Date).toLocaleDateString() %></td>
                          <td class="purpose-column"><%= appointment.Purpose %></td>
                          <td class="status-column"><%= appointment.Status %></td>
                          <td>
                              <form class="button-submit" action="/handle-appointment" method="post">
                                  <input type="hidden" name="appointmentID" value="<%= appointment.AppointmentID %>">
                                  <button class="controls" type="submit" name="action" value="approve">Approve</button>
                                  <button class="controls" type="submit" name="action" value="decline">Decline</button>
                                  <button class="controls" type="submit" name="action" value="delete">Delete</button>
                              </form>
                          </td>
                      </tr>
                  <% } %>
              </tbody>
          </table>
      </div>
    </div>
</body>
</html>
