<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Schedule</title>
    <link rel="stylesheet" href="/styles/createSchedule.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="flex-container">
            <div class="hidden-message">
                <div class="btn-borderless" onclick="document.location.href = '/admin/dashboard'">
                    <i class='bx bx-arrow-back'></i>
                        BACK
                </div>
            You can only access this on pc.</div>
        <div class="content-wrapper" id="content-wrapper">
            <div class="btn-borderless button" onclick="document.location.href = '/admin/dashboard'">
                <i class='bx bx-log-out'></i>
                BACK
                <!-- LOG OUT -->
            </div>
            
            <div class="show-button" style="width: 100%;">
                <h3>Create Class Schedule</h3>
                <button style="display: flex; justify-content: flex-start; margin-left: 47px;" class="btn-submit" onclick="document.location.href = '/admin/dashboard/show-schedule'">Show schedules</button>
            </div>
            
            <form class="delete-form" action="/admin/dashboard/delete-schedule" method="post">
                <p style="font-size: 0.9rem; color: rgb(48, 48, 48); font-weight: bold;">Delete Schedule for:</p>
                <input required type="text" name="Section" placeholder="Section" style="width: 145px;">
                <input class="btn-submit" type="submit" value="Delete">
                <p style="font-size: 0.8rem; margin: 2px; color: black;"><%= deleteStatus %></p>
            </form>
            <br>

            <form action="/admin/dashboard/insert-schedule" method="post">
                <p style="font-size: 0.6rem;">Please toggle the button if the back button is not appearing.</p>
                <button style="width: 100px;" class="btn-row" type="button" id="toggle-subject-tables">Toggle Subject Tables</button>
                <table>
                    <thead>
                        <tr>
                            <th>Subject Code</th>
                            <th>Subject Name</th>
                            <th>Instructor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% subjects.forEach(subject => { %>
                            <tr>
                                <td><%= subject.SubjectCode %></td>
                                <td><%= subject.SubjectName %></td>
                                <td><%= subject.Instructor %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                
                <p style="font-size: 0.9rem; color: rgb(48, 48, 48); font-weight: bold;">Follow this example:</p>
                <p style="font-size: 0.8rem; color: rgb(48, 48, 48);">7:15-8:15 am | DRRR01 | DRRR01 | UCSP01 | PR01 | NONE</p>
                <p style="font-size: 0.8rem; color: rgb(48, 48, 48);">Enter subject code inside the Days Box</p><br>

                <div id="schedule-container">
                    <!-- Dynamic input fields will be added here -->
                </div>

                <div style="display: flex; flex-direction: row;" class="form-button-add">
                    <button class="btn-row" type="button" id="add-section">+</button>
                    <button class="btn-row" type="button" id="remove-section">-</button>
                </div>

                <br>
                <input class="btn-submit" type="submit">
                <p style="font-size: 0.8rem; margin: 2px;"><%= status %></p>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
        let sectionCount = 1;

        function addSection() {
            const sectionHtml = `
                <div class="inline-input added-section">
                    <input type="text" name="Section[${sectionCount}]" placeholder="Section">
                    <input type="text" name="time_slot[${sectionCount}]" placeholder="Time Slot">
                    <input type="text" name="Monday[${sectionCount}]" placeholder="Monday">
                    <input type="text" name="Tuesday[${sectionCount}]" placeholder="Tuesday">
                    <input type="text" name="Wednesday[${sectionCount}]" placeholder="Wednesday">
                    <input type="text" name="Thursday[${sectionCount}]" placeholder="Thursday">
                    <input type="text" name="Friday[${sectionCount}]" placeholder="Friday">
                </div>
            `;

            $("#schedule-container").append(sectionHtml);

            sectionCount++;
        }

        function removeSection() {
            if (sectionCount > 2) {
                // Remove the last added section with the added-section class
                sectionCount--;
                $("#schedule-container .added-section:last").remove();
            }
        }

        function toggleSubjectTables() {
            $(".content-wrapper table").toggle();
        }

        addSection();

        $("#add-section").click(addSection);
        $("#remove-section").click(removeSection);

        // Assuming you have a button or trigger to toggle subject tables visibility
        $("#toggle-subject-tables").click(toggleSubjectTables);
    });
    </script>
</body>
</html>
