<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.name %>Courses | Student Portal</title>

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="shortcut icon" href="/styles/images/bcihs.png" type="image/x-icon">


  <style>
    @import url("/styles/common.css");

    .content-wrapper {
      margin: 2rem 10%; /* Adjusted margin for responsiveness */
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 2rem;
    }

    .course-view {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 1rem;
      column-gap: 1rem;
      padding: 1.5rem;
    }

    .course-card {
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      row-gap: 0.3rem;
      padding: 2rem; /* Adjusted padding for responsiveness */
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      background: white;
      transition: transform 0.2s ease;
      min-height: 200px;
    }

    .course-card:hover {
      transform: scale(1.03);
      cursor: pointer;
    }

    .course-name {
      font-size: 1.7rem;
      font-weight: 700;
      color: var(--main-color);
    }

    .course-section {
      font-size: 1.3rem;
      font-weight: 500;
    }

    .instructor-name {
      font-size: 1rem;
      color: var(--gray-color);
    }

    .heading {
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      color: var(--main-color);
    }

    .join-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--main-color);
      font-weight: 700;
      font-size: 9rem;
    }

    @media screen and (max-width:600px) {
      .content-wrapper {
        margin: 2rem 5%;
      }

      .course-view {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjusted for responsiveness */
        
      }
    }
  </style>
</head>
<body>
  <div class="content-wrapper">
    <div class="control-view">
      <div class="btn-borderless" onclick="document.location.href = '/dashboard'">
        <i class='bx bx-arrow-back'></i>
        BACK
      </div>
    </div>
    <div class="heading">
      <%= locals.heading %>
    </div>
    <div class="course-view">
      <% for (let i = 0; i < locals.courses.length; i++) { %>
        <div class="course-card" onclick="document.location.href='/course/<%= locals.courses[i].courseCode %>'">
          <div class="course-name"><%= locals.courses[i].courseName %></div>
          <div class="course-section"><%= locals.courses[i].section %></div>
          <div class="instructor-name"><%= locals.courses[i].instructor %></div>
        </div>
      <% } %>
      <div class="course-card">
        <% if (!locals.isInstructor) { %>
          <div class="join-btn" onclick="document.location.href = '/course/join'">
        <% } else { %>
          <div class="join-btn" onclick="document.location.href = '/course/create'">
        <% } %>
          <i class='bx bx-plus'></i></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>