<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Student Portal</title>
    <link rel="stylesheet" href="styles/dashboard.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="main-container">
      <div class="header">
        <div class="btn-borderless button" onclick="document.location.href = '/logout'">
          <i class='bx bx-log-out'></i>
          <!-- LOG OUT -->
        </div>
        <h1 class="heading">Dashboard</h1>
      </div>
        <div class="profile"> 
            <p class="user-info"><b>School Code: </b> <%= userCode %></p>
            <p class="user-info"><b>Name:</b> <%= lastName %>, <%= firstName %> <%= middleName %> <%= extensionName %></p>
            <% if (!locals.isInstructor) { %>
              <p class="user-info"><b>Strand:</b> <%= strand %></p>
              <p class="user-info"><b>Section: </b> <%= section %></p>
              <p class="user-info"><b>Status: </b> <%= enrollmentStatus %></p>
            <% } %>
        </div>

        <!--
        <div class="form-container">
            <p>Services</p>
            <div class="form-1">
                <form action="/dashboard/schedule" method="get">
                    <button type="submit" class="button-1">Schedule</button>
                </form>
                <% if (locals.isInstructor) { %>
                  <form action="/course/owned" method="get">
                <% } else { %>
                  <form action="/course" method="get">
                <% } %>
                  <button type="submit" class="button-2">View Courses</button>
                </form>
            </div>
            
            <div class="form-2">
                <form action="/dashboard/drawingboard" method="get">
                    <button type="submit" class="button-4">Drawing Board</button>
                </form>
                <form action="/dashboard/appointment" method="get">
                    <button type="submit" class="button-6">Appointment</button>
                </form>
                <form action="/dashboard/feedback" method="get">
                    <button type="submit" class="button-5">Student Feedback</button>
                </form>
            </div>
        </div>
        -->
        <div class="services">
          <h1 class="heading">Services</h1>
          <div class="services-container">
            <div class="service-clicklet" onclick="document.location.href = '/dashboard/schedule'">
              <div class="service-icon">
                <i class='bx bx-table'></i>
              </div>
              <div class="service-name">
                Schedule
              </div>
            </div>
            <% if (locals.isInstructor) { %>
              <div class="service-clicklet" onclick="document.location.href = '/course/owned'">
            <% } else { %>
              <div class="service-clicklet" onclick="document.location.href = '/course'">
            <% } %>
              <div class="service-icon">
                <i class='bx bxs-book' ></i>
              </div>
              <div class="service-name">
                Courses
              </div>
            </div>
            <div class="service-clicklet" onclick="document.location.href = '/dashboard/drawingboard'">
              <div class="service-icon">
                <i class='bx bxs-palette' ></i>
              </div>
              <div class="service-name">
                Drawing Board
              </div>
            </div>
            <div class="service-clicklet" onclick="document.location.href = '/dashboard/appointment'">
              <div class="service-icon">
                <i class='bx bxs-calendar-check'></i>
              </div>
              <div class="service-name">
                Appointment
              </div>
            </div>
            <div class="service-clicklet" onclick="document.location.href = '/dashboard/feedback'">
              <div class="service-icon">
                <i class='bx bxs-chat' ></i>
              </div>
              <div class="service-name">
                Feedback
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>