<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule | Student Portal</title>
    <!-- <link rel="stylesheet" href="styles/schedule.css"> -->
    <!-- Hindi ko mapagana ang paglilink -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/schedule.css">

<body>
    <div class="main-container">
        <div class="table-wrapper">
          <div class="header">
            <div class="btn-borderless button" onclick="document.location.href = '/dashboard'">
              <i class='bx bx-arrow-back'></i>
              BACK
            </div>
            <h1 class="heading">Schedule</h1>
          </div>
        <table>
            <thead>
                <tr>
                    <th>Time Slot</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
            </thead>
            <tbody>
                <% schedule.forEach(item => { %>
                    <tr>
                        <td><%= item.time_slot %></td>
                        <td><%- item.Monday ? (item.Monday + (item.Instructor ? '<br>' + item.Instructor : '')) : '---' %></td>
                        <td><%- item.Tuesday ? (item.Tuesday + (item.Instructor ? '<br>' + item.Instructor : '')) : '---' %></td>
                        <td><%- item.Wednesday ? (item.Wednesday + (item.Instructor ? '<br>' + item.Instructor : '')) : '---' %></td>
                        <td><%- item.Thursday ? (item.Thursday + (item.Instructor ? '<br>' + item.Instructor : '')) : '---' %></td>
                        <td><%- item.Friday ? (item.Friday + (item.Instructor ? '<br>' + item.Instructor : '')) : '---' %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
      </div>
    </div>
</body>
</html>
