<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.name %> | Student Portal</title>

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <style>
    @import url("/styles/common.css");

    .content-wrapper {
      margin: 5rem 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 2rem;
    }

    .class-header {
      width: 100%;
      height: 200px;
      border-radius: 12px;
      border: 3px solid black;
      padding: 2rem;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
    }

    .class-sidebar {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
    }

    .class-content {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }

    .class-code {
      border-radius: 8px;
      border: 3px solid black;
      padding: 1.5rem;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }

    .label {
      font-size: 1.2rem
    }

    .code {
      font-weight: 600;
      font-size: 2rem;
    }

    .class-stream {
      padding: 0rem 0rem 0rem 2rem;
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
    }

    .stream-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      border: 3px solid black;
      border-radius: 6px;
      justify-content: left;
      width: 100%;
    }

    .stream-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }

    .stream-content {
      font-size: 0.9rem;
      width: 100%;
      padding: 1rem 1rem 0rem 0.7rem;
    }

    .new-announcement > textarea {
      width: 100%;
    }

    .stream-left {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
      column-gap: 1rem;
    }

    .stream-title {
      font-size: 1.1rem;
      font-weight: 600;
    }

    .stream-date {
      font-size: 0.9rem;
    }

    .announcement-wrapper {
      width: 100%;
      text-align: right;
    }

    .announcement-box {
      width: 100%;
      resize: none;
      padding: 0.5rem;
      font-size: 1rem;
      outline: none;
      border: none;
    }

    .announce-btn {
      margin-top: 0.5rem;
    }
  </style>
</head>
<body>
  <div class="content-wrapper">
    <div class="control-view">

    </div>
    <div class="class-header">
      <div class="item-wrapper">
        <h2><%= locals.name %></h2>
        <h3><%= locals.section %></h3>
      </div>
    </div>
    <div class="class-content">
      <div class="class-sidebar">
        <div class="class-code">
          <div class="label">Class Code</div>
          <div class="code"><%= locals.code %></div>
        </div>
        <% if (locals.isInstructor) { %>
          <form class="class-code" action="upload" method="post" enctype="multipart/form-data">
            <div class="label">Upload material</div>
            <input type="hidden" name="code" value="<%= locals.code %>">
            <input type="tel" name="fileName" id="fileName" placeholder="Material Name">
            <input type="file" name="file" id="file">
            <input type="submit" class="btn" value="UPLOAD"></input>
          </form>
        <% } %>
      </div>
      <div class="class-stream">
        <% if (locals.isInstructor) { %>
          <form class="stream-card" action="announce" method="post">
            <div class="announcement-wrapper">
              <input type="hidden" name="courseId" value="<%= locals.courseId %>">
              <input type="hidden" name="courseCode" value="<%= locals.code %>">
              <textarea class="announcement-box" name="announcementContent" id="announcementContent" cols="30" rows="1" placeholder="Make announcement to your class"></textarea>
            </div>
          </form>
        <% } %>
        
        <% for (let i = 0; i < locals.stream.length; i++) { %>
          <% if (locals.stream[i].type == "material") { %>
            <div class="stream-card">
              <form class="stream-header" action="download" method="post">
                <div> <%= locals.stream[i].name %> </div>
                <input type="hidden" name="path" value="<%= locals.stream[i].path %>">
                <input class="btn" type="submit" value="DOWNLOAD">
              </form>
            </div>
          <% } else if (locals.stream[i].type == "announcement") { %>
            <div class="stream-card">
              <div class="stream-header">
                <div class="stream-left">
                  <i class='bx bxs-megaphone'></i>
                  <div class="stream-info">
                    <div class="stream-title"><%= locals.stream[i].announcer %></div>
                    <div class="stream-date"><%= new Date(locals.stream[i].date).toLocaleString('en-US', { timeZone: 'UTC' }) %></div>
                  </div>
                </div>
              </div>
              <div class="stream-content">
                <textarea readonly class="announcement-box" name="" id="" cols="30" rows="1" value="aaa"><%= locals.stream[i].content %></textarea>
                
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>
    
  </div>

  <script>
    const textarea = document.getElementById('announcementContent');

    function autoAdjustHeight(textarea) {
        textarea.style.height = 'auto'; // Reset height to auto
        textarea.style.height = (textarea.scrollHeight) + 'px'; // Set new height
    }

    document.querySelectorAll(".announcement-box").forEach((element) => {
      autoAdjustHeight(element);
    });

    

    textarea.addEventListener('input', function () {
      // Set the textarea height to its scrollHeight
      this.style.height = 'auto';
      this.style.height = (this.scrollHeight) + 'px';

      if (!document.querySelector(".announce-btn")) {
        textarea.insertAdjacentHTML("afterend", '<input type="submit" class="btn announce-btn" value="ANNOUNCE"></input>');
      }

      if (textarea.value.length == 0) {
        this.style.height = "2.5rem";

        document.querySelector(".announce-btn").remove();
      }
    });
  </script>
</body>
</html>