<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.name %> | Student Portal</title>

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/styles/overview.css">
</head>
<body>
  <div class="content-wrapper">
    <div class="control-view">
      <% if (!locals.isInstructor) { %>
        <div class="btn-borderless" onclick="document.location.href = '/course'">
      <% } else { %>
        <div class="btn-borderless" onclick="document.location.href = '/course/owned'">
      <% } %>
        <i class='bx bx-arrow-back'></i>
        BACK
      </div>
    </div>
    <div class="class-header">
      <div class="item-wrapper">
        <h1><%= locals.name %></h1>
        <h3><%= locals.section %></h3>
        

        <% if (!locals.isInstructor) { %>
        <% } else { %>
          <form method="post" action="/dashboard/course/delete-course">
            <input type="hidden" name="courseInput" value="<%= locals.code %>">
            <input style="margin-top: 3px; font-weight: bold; border: 1px solid white; background: white; border-radius: 3px; color: black; padding: 3px; cursor: pointer;" type="submit" value="Delete Course">
          </form>
        <% } %>

      </div>
    </div>
    <div class="class-content">
      <div class="class-sidebar">
        <!-- <div class="class-code">
          Edit assignment
        </div> -->
        <div class="class-code">
          <div class="label">Class Code</div>
          <div class="code"><%= locals.code %></div>
        </div>
        <% if (locals.isInstructor) { %>
          <form id="upload-mat" class="class-code" action="upload" method="post" enctype="multipart/form-data">
              <div class="label">Upload material</div>
              <input type="hidden" name="code" value="<%= locals.code %>">
              <input required type="text" name="fileName" id="fileName" placeholder="Material Name">
              <input required type="file" name="file" id="file">
              <input type="submit" class="btn" value="UPLOAD"></input>
          </form>

          <form class="create-ass" action="assignment/create" method="post" style="width: 100%;">
            <input type="hidden" name="courseId" value="<%= locals.courseId %>">
            <input type="hidden" name="courseCode" value="<%= locals.code %>">
            <input type="submit" class="btn" value="CREATE ASSIGNMENT" style="width: 100%;"></input>
          </form>
        <% } %>
      </div>
      <div class="class-stream">
        <% if (locals.isInstructor) { %>
          <form class="stream-card announcement-wrapper" action="announce" method="post">
            <input type="hidden" name="courseId" value="<%= locals.courseId %>">
            <input type="hidden" name="courseCode" value="<%= locals.code %>">
            <textarea class="announcement-box" name="announcementContent" id="announcementContent" cols="30" rows="1" placeholder="Make announcement to your class"></textarea>
          </form>
        <% } %>
        
        <% for (let i = 0; i < locals.stream.length; i++) { %>
          <% if (locals.stream[i].type == "material") { %>
            <div class="stream-card">
              <form class="stream-header" action="download" method="post">
                <div class="stream-left">
                  <i class='bx bxs-file icon'></i>
                  <div class="stream-info">
                    <div class="stream-title"><%= locals.stream[i].name %></div>
                    <div class="stream-date"><%= new Date(locals.stream[i].date).toLocaleString('en-US', { timeZone: 'UTC' }) %></div>
                  </div>
                </div>
                <input type="hidden" name="path" value="<%= locals.stream[i].path %>">
                <button class="btn" type="submit"><i class='bx bxs-download'></i><span>DOWNLOAD</span></button>
                
              </form>
            </div>
          <% } else if (locals.stream[i].type == "announcement") { %>
            <div class="stream-card">
              <div class="stream-header">
                <div class="stream-left">
                  <i class='bx bxs-megaphone icon'></i>
                  <div class="stream-info">
                    <div class="stream-title"><%= locals.stream[i].announcer %></div>
                    <div class="stream-date"><%= new Date(locals.stream[i].date).toLocaleString('en-US', { timeZone: 'UTC' }) %></div>
                  </div>
                </div>
              </div>
              <div class="stream-content">
                <textarea readonly class="announcement-box" name="" id="" cols="30" rows="1" value="aaa"><%= locals.stream[i].content %></textarea>
                
              </div>
            </div>
          <% } else if (locals.stream[i].type == "activity") { %>
            <div class="stream-card activity-card" onclick="document.location.href='/course/assignment/<%= locals.stream[i].id %>'">
              <div class="stream-header">
                <div class="stream-left">
                  <i class='bx bx-task icon'></i>
                  <div class="stream-info">
                    <div class="stream-title"><%= locals.stream[i].title %></div>
                    <div class="stream-date"><%= new Date(locals.stream[i].date).toLocaleString('en-US', { timeZone: 'UTC' }) %></div>
                  </div>
                </div>
                <div class="stream-right">
                  <% if (locals.stream[i].dueDate) { %>
                    Due <%= new Date(locals.stream[i].dueDate).toLocaleString('en-US', { timeZone: 'UTC' }) %>
                  <% } else { %>
                    No due date
                  <% } %>
                </div>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>
    
  </div>

  <script>
    const textarea = document.getElementById('announcementContent');

    function autoAdjustHeight(textarea) {
        textarea.style.height = 'auto'; // Reset height to auto
        textarea.style.height = (textarea.scrollHeight) + 'px'; // Set new height
    }

    document.querySelectorAll(".announcement-box").forEach((element) => {
      autoAdjustHeight(element);
    });

    textarea.addEventListener('input', function () {
      // Set the textarea height to its scrollHeight
      this.style.height = 'auto';
      this.style.height = (this.scrollHeight) + 'px';

      if (!document.querySelector(".announce-btn")) {
        textarea.insertAdjacentHTML("afterend", '<div class="btn-wrapper"><input type="submit" class="btn announce-btn" value="ANNOUNCE"></input></div>');
      }

      if (textarea.value.length == 0) {
        this.style.height = "2.5rem";

        document.querySelector(".announce-btn").remove();
      }
    });
  </script>
</body>
</html>